.head{
    padding-top: 150px;
    
}

.cen{
    width: 40vw;
    margin-left: 400px;
    margin-top: 20px;
}

.last{
text-align: center;
    margin-bottom: 60px;
}
.logo{

    margin-right: 3000px;
}
.final{
    margin-left: 30px;
}
.lef{
    margin-left: 600px;
}
.final{
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 80px;
}